html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: url('../images/cursor-cross.png') 32 32, auto;
    font-family: 'Cutive Mono', monospace;
}

::selection {
    background: lightblue; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: lightblue; /* WebKit/Blink Browsers */
}

#transition-canvas {
    z-index: 10;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#fullscreen-cover {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    cursor: url('../images/cursor-close.png') 32 32, auto;
}

.grid-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.grid {
    margin: auto;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* height: auto; */
}

/* Use this to size margins on images */
.grid-curtain {
    cursor: url('../images/cursor-hover.png') 32 32, pointer;
    background-color: lightblue;
    margin: 2.5%;
}

.portrait {
    width: 20%;
}

.landscape {
    width: 28%;
}

.grid-curtain img {
    vertical-align: middle;
    width: 100%;
    /* hide the original image */
    opacity: 1;
}

.grid__item-img--large {
    pointer-events: none;
    position: fixed;
    opacity: 0;
    display: none;
}

.fullview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.fullview__item {
    position: absolute;
}

.hero-box {
    background-color: white;
    cursor: url('../images/cursor-cross.png') 32 32, auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.hero-title {
    font-size: 16px;
    text-align: center;
}

.hero-paragraph {
    width: 50%;
    text-align: end;
    font-size: 13px;
}
