@font-face {
    font-family: 'Splendid';
    src: url('../fonts/Splendid/SplendidN.eot');
    src: url('../fonts/Splendid/SplendidN.woff2') format('woff2');
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: url('../images/cursor-cross.png') 16 16, auto;
    /* font-family: 'Cutive Mono', monospace; */
    font-family: 'Splendid', monospace;
    color: #333333;
}

span {
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    body {
        overflow-x: visible;
        overflow-y: visible;
        font-size: 14px;
    }
}

::selection {
    background: #c4e9f5; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #c4e9f5; /* WebKit/Blink Browsers */
}

#transition-canvas {
    z-index: 10;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#fullscreen-cover {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    cursor: url('../images/cursor-close.png') 16 16, auto;
}

.everything-aligner {
    width: 100%;
    height: 100vh;
    /* magic number to center things */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    transform: translate3d(0, 0, 0);
}

.grid {
    margin: auto;
    padding: 0;
    position: relative;
    left: -12.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* larger than screen */
    width: 125%;
    height: auto;
}

@media only screen and (max-width: 480px) {
    .everything-aligner {
        justify-content: start;
        margin-top: 50px;
    }

    .grid {
        width: 100%;
        left: 0;
    }
}

/* Use this to size margins on images */
.grid-curtain {
    cursor: url('../images/cursor-hover.png') 16 16, pointer;
    background-color: #c4e9f5;
    margin: 3% 2.5%;
}

.portrait {
    width: 12%;
}

.landscape {
    width: 18%;
}

@media only screen and (max-width: 480px) {
    .portrait {
        width: 20%;
    }

    .landscape {
        width: 33%;
    }
}

.grid-curtain img {
    vertical-align: middle;
    width: 100%;
    /* hide the original image */
    opacity: 1;
}

.grid__item-img--large {
    pointer-events: none;
    position: fixed;
    opacity: 0;
    display: none;
}

.fullview {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.fullview__item {
    position: absolute;
}

.hero-box {
    background-color: white;
    padding: 15px;
    cursor: url('../images/cursor-cross.png') 16 16, auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vw;
    /* border: 1px solid #cccccc; */
}

.hero-title {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hero-paragraph {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: start;
    align-self: flex-end;
    justify-self: flex-end;
}

.contact-link {
    padding: 5vw 0;
    color: #333333;
    text-decoration: none;
    cursor: url('../images/instagram.png') 16 16, pointer;
}

.image-description-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.image-description {
    position: absolute;
    text-align: end;
    bottom: 15px;
    right: 15vw;
}
